.buttons{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.button{
    width: 200px;
    margin: 5px;
    background-color: transparent;
        border-color: rgb(181, 228, 246);
}
.guess{
    border-color: rgb(181, 228, 246);
}
.button:hover {
    background-color: rgb(181, 228, 246);
    ;
}
.error{
     color: red;
     font-weight: 500;
}